Repository hemilabs/hemi-viem: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Fix ESM import by ref contract file directly (#50)
  package-lock.json
  package.json
  src/actions/public/bitcoin-tunnel-encoders.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Add runtime validations
  src/actions/public/bitcoin-kit.ts
  src/actions/public/bitcoin-tunnel-manager.ts
  src/actions/public/get-btc-finality-by-block-hash.ts
  src/actions/public/simple-bitcoin-vault-state.ts
  src/actions/public/simple-bitcoin-vault.ts
  src/actions/wallet/bitcoin-tunnel-manager.ts
  src/utils.ts
Due: eslint --cache --fix --quiet, prettier --write

Add tests to validations
  package-lock.json
  package.json
  test/utils.test.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

2.4.2
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Mark functions as async
  src/actions/public/bitcoin-kit.ts
  src/actions/public/bitcoin-tunnel-manager.ts
  src/actions/public/simple-bitcoin-vault-state.ts
  src/actions/public/simple-bitcoin-vault.ts
  src/actions/wallet/bitcoin-tunnel-manager.ts
Due: eslint --cache --fix --quiet, prettier --write

Remove incorrect comment
  src/actions/wallet/bitcoin-tunnel-manager.ts
Due: eslint --cache --fix --quiet, prettier --write

Add runtime validations (#51)
  package-lock.json
  package.json
  src/actions/public/bitcoin-kit.ts
  src/actions/public/bitcoin-tunnel-manager.ts
  src/actions/public/get-btc-finality-by-block-hash.ts
  src/actions/public/simple-bitcoin-vault-state.ts
  src/actions/public/simple-bitcoin-vault.ts
  src/actions/wallet/bitcoin-tunnel-manager.ts
  src/utils.ts
  test/utils.test.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Update linting rules and enable the ESM ones
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Add many actions for the vault monitor
  src/actions/public/bitcoin-tunnel-manager.ts
  src/actions/public/global-config.ts
  src/actions/public/simple-bitcoin-vault-state.ts
  src/actions/public/simple-bitcoin-vault.ts
  src/contracts/global-config.ts
  src/decorators/public-global-config-actions.ts
  src/index.ts
Due: eslint --cache --fix --quiet, prettier --write

2.5.0
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Remove a complex action
  src/actions/public/simple-bitcoin-vault.ts
Due: eslint --cache --fix --quiet, prettier --write

Vault monitor actions (#52)
  .eslintrc.json
  package-lock.json
  package.json
  src/actions/public/bitcoin-tunnel-manager.ts
  src/actions/public/global-config.ts
  src/actions/public/simple-bitcoin-vault-state.ts
  src/contracts/global-config.ts
  src/decorators/public-global-config-actions.ts
  src/index.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Fix eslint warnings
  src/actions/public/bitcoin-tunnel-encoders.ts
  src/contracts/bitcoin-tunnel-manager.ts
  src/decorators/public-bitcoin-kit-actions.ts
  src/decorators/public-bitcoin-tunnel-manager-actions.ts
  src/decorators/public-op-node-actions.ts
  src/decorators/public-simple-bitcoin-vault-actions.ts
  src/decorators/public-simple-bitcoin-vault-state-actions.ts
  src/decorators/wallet-bitcoin-tunnel-manager-actions.ts
Due: eslint --cache --fix --quiet, prettier --write

Bump node version to 22
  .nvmrc
Due: none

Improve js-checks workflow and lint-staged config
  .github/workflows/js-checks.yml
  .lintstagedrc.json
Due: eslint --cache --fix --quiet, prettier --write

Add better-sort-github-actions
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Add badges
  README.md
Due: eslint --cache --fix --quiet, prettier --write

Pin npm-publish to hemilabs/actions tag
  .github/workflows/npm-publish.yml
Due: eslint --cache --fix --quiet, prettier --write

Limit permissions on js-checks workflow
  .github/workflows/js-checks.yml
Due: eslint --cache --fix --quiet, prettier --write

Chore updates (#54)
  .github/workflows/js-checks.yml
  .github/workflows/npm-publish.yml
  .lintstagedrc.json
  .nvmrc
  README.md
  package-lock.json
  package.json
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Fix eslint warnings (#53)
  src/actions/public/bitcoin-tunnel-encoders.ts
  src/contracts/bitcoin-tunnel-manager.ts
  src/decorators/public-bitcoin-kit-actions.ts
  src/decorators/public-bitcoin-tunnel-manager-actions.ts
  src/decorators/public-op-node-actions.ts
  src/decorators/public-simple-bitcoin-vault-actions.ts
  src/decorators/public-simple-bitcoin-vault-state-actions.ts
  src/decorators/wallet-bitcoin-tunnel-manager-actions.ts
Due: eslint --cache --fix --quiet, prettier --write

Add btc tunnel fee methods
  src/actions/public/simple-bitcoin-vault-state.ts
Due: eslint --cache --fix --quiet, prettier --write

2.6.0
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Add Bitcoun tunnel fee methods (#55)
  package-lock.json
  package.json
  src/actions/public/simple-bitcoin-vault-state.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Fix extraInfo typing
  src/actions/wallet/bitcoin-tunnel-manager.ts
  src/utils.ts
  test/utils.test.ts
Due: eslint --cache --fix --quiet, prettier --write

2.6.1
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Fix extra info field hex (#56)
  package-lock.json
  package.json
  src/actions/wallet/bitcoin-tunnel-manager.ts
  src/utils.ts
  test/utils.test.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Update dependencies
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

2.6.2
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Update dependencies (#57)
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Bump node to v24
  .nvmrc
  package-lock.json
Due: none

Use OIDC trusted deployments
  .github/workflows/npm-publish.yml
Due: eslint --cache --fix --quiet, prettier --write

Export actions from 'hemi-viem/actions'
  .knip.json
  package.json
  src/actions/index.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

2.7.0
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Export actions like viem (#58)
  .github/workflows/npm-publish.yml
  .knip.json
  .nvmrc
  package-lock.json
  package.json
  src/actions/index.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

ci: pin actions to full-length commit hashes
  .github/workflows/js-checks.yml
Due: eslint --cache --fix --quiet, prettier --write

ci: pin actions to full-length commit hashes (#59)
  .github/workflows/js-checks.yml
Due: eslint --cache --fix --quiet, prettier --write

Add missing bitcoin tunnel manager exports
  src/actions/index.ts
Due: eslint --cache --fix --quiet, prettier --write

Add missing bitcoin tunnel manager exports (#60)
  src/actions/index.ts
Due: eslint --cache --fix --quiet, prettier --write

Migrate from npm to pnpm
  .github/workflows/js-checks.yml
  .github/workflows/npm-publish.yml
  .husky/pre-push
  .huskyrc.json
  .nvmrc
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Path conditions:
  eslint --cache --fix --quiet: any of: *.{js,md,ts,tsx,yml}
  prettier --write: (any of: *.{js,md,ts,tsx,yml}) or (any of: package.json)
  better-sort-package-json: any of: package.json
