Repository hemilabs/hemi-viem: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

2.0.0-alpha.16
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Update npm-publish workflow
  .github/workflows/npm-publish.yml
Due: eslint --cache --fix --quiet, prettier --write

Fix fn to get appropiate uuids from withdrawals
  .eslintrc.json
  package-lock.json
  package.json
  src/actions/public/simple-bitcoin-vault-state.ts
  src/utils/withdrawals.ts
  test/utils/withdrawals.test.js
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

2.0.0-alpha.17
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Update bitcoin integration
  .eslintrc.json
  .github/workflows/npm-publish.yml
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .knip.json
  README.md
  package-lock.json
  package.json
  src/actions/public/bitcoin-kit.ts
  src/actions/public/bitcoin-tunnel-manager.ts
  src/actions/public/bitcoin-vault.ts
  src/actions/public/simple-bitcoin-vault-state.ts
  src/actions/public/simple-bitcoin-vault.ts
  src/actions/wallet/bitcoin-tunnel-manager.ts
  src/contracts/bitcoin-kit-txs.ts
  src/contracts/bitcoin-tunnel-manager.ts
  src/contracts/bitcoin-vault.ts
  src/contracts/index.ts
  src/contracts/simple-bitcoin-vault-state.ts
  src/contracts/simple-bitcoin-vault.ts
  src/decorators/public-bitcoin-vault-actions.ts
  src/decorators/public-simple-bitcoin-vault-actions.ts
  src/decorators/public-simple-bitcoin-vault-state-actions.ts
  src/index.ts
  src/utils/withdrawals.ts
  test/utils/withdrawals.test.js
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

2.0.0
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Fix spelling mistake
  src/actions/public/bitcoin-tunnel-manager.ts
Due: eslint --cache --fix --quiet, prettier --write

Improve test structure
  .knip.json
  package.json
  src/utils/withdrawals.ts
  test/utils/withdrawals.test.js
  test/utils/withdrawals.test.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Update utilities function structure
  src/actions/public/simple-bitcoin-vault-state.ts
  src/utils/withdrawals.ts
  test/utils/withdrawals.test.ts
  test/withdrawals.test.ts
Due: eslint --cache --fix --quiet, prettier --write

Remove tests
  package-lock.json
  package.json
  src/actions/public/simple-bitcoin-vault-state.ts
  test/withdrawals.test.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Update Bitcoin integration (Bitcoin Tunnel Manager and other contracts) (#33)
  .eslintrc.json
  .github/workflows/npm-publish.yml
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .knip.json
  README.md
  package-lock.json
  package.json
  src/actions/public/bitcoin-kit.ts
  src/actions/public/bitcoin-tunnel-manager.ts
  src/actions/public/bitcoin-vault.ts
  src/actions/public/simple-bitcoin-vault-state.ts
  src/actions/public/simple-bitcoin-vault.ts
  src/actions/wallet/bitcoin-tunnel-manager.ts
  src/contracts/bitcoin-kit-txs.ts
  src/contracts/bitcoin-tunnel-manager.ts
  src/contracts/bitcoin-vault.ts
  src/contracts/index.ts
  src/contracts/simple-bitcoin-vault-state.ts
  src/contracts/simple-bitcoin-vault.ts
  src/decorators/public-bitcoin-vault-actions.ts
  src/decorators/public-simple-bitcoin-vault-actions.ts
  src/decorators/public-simple-bitcoin-vault-state-actions.ts
  src/index.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Fix knip configuration
  package.json
Due: prettier --write, better-sort-package-json

Fix knip configuration (#34)
  package.json
Due: prettier --write, better-sort-package-json

Add bitcoin tunnel manager address for hemi
  src/contracts/bitcoin-tunnel-manager.ts
Due: eslint --cache --fix --quiet, prettier --write

2.1.0
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Add bitcoin tunnel manager address for hemi (#36)
  package-lock.json
  package.json
  src/contracts/bitcoin-tunnel-manager.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Add actions for min deposit and withdrawal sats
  src/actions/public/simple-bitcoin-vault.ts
Due: eslint --cache --fix --quiet, prettier --write

2.2.0
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Add methods min deposit withrawal (#37)
  package-lock.json
  package.json
  src/actions/public/simple-bitcoin-vault.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Prepend '0x' to tx Ids in getTxConfirmations
  src/actions/public/bitcoin-kit.ts
Due: eslint --cache --fix --quiet, prettier --write

2.3.0
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Prepend '0x' to tx Ids in getTxConfirmations (#38)
  package-lock.json
  package.json
  src/actions/public/bitcoin-kit.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Update bitcoin kit ABI
  src/actions/public/bitcoin-kit.ts
  src/contracts/bitcoin-kit-txs.ts
Due: eslint --cache --fix --quiet, prettier --write

2.3.1
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Update bitcoin kit abi (#39)
  package-lock.json
  package.json
  src/actions/public/bitcoin-kit.ts
  src/contracts/bitcoin-kit-txs.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Remove 'Network' references in Hemi name
  README.md
  package.json
  src/chains/hemi.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

2.3.2
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Remove 'Network' references in Hemi name (#41)
  README.md
  package-lock.json
  package.json
  src/chains/hemi.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Bump some deps
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Add missing OP contracts
  src/chains/hemi-sepolia.ts
  src/chains/hemi.ts
Due: eslint --cache --fix --quiet, prettier --write

2.3.3
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Add missing hemi contracts (#45)
  package-lock.json
  package.json
  src/chains/hemi-sepolia.ts
  src/chains/hemi.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Bump viem version
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Fix optional typings on actions
  src/decorators/actions-to-decorator.ts
Due: eslint --cache --fix --quiet, prettier --write

Fix optional typings (#46)
  package-lock.json
  package.json
  src/decorators/actions-to-decorator.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Update link to Bitcoin Kit docs
  README.md
Due: eslint --cache --fix --quiet, prettier --write

Update link to Bitcoin Kit docs (#47)
  README.md
Due: eslint --cache --fix --quiet, prettier --write

Add Bitcoin Tunnel encoders
  package-lock.json
  package.json
  src/actions/public/bitcoin-tunnel-encoders.ts
  src/index.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Add Bitcoin Tunnel encoders (#48)
  package-lock.json
  package.json
  src/actions/public/bitcoin-tunnel-encoders.ts
  src/index.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Fix ESM import by ref contract file directly
  package-lock.json
  package.json
  src/actions/public/bitcoin-tunnel-encoders.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

Path conditions:
  eslint --cache --fix --quiet: any of: *.{js,md,ts,tsx,yml}
  prettier --write: (any of: *.{js,md,ts,tsx,yml}) or (any of: package.json)
  better-sort-package-json: any of: package.json
