Repository hemilabs/hemi-viem: changes, and which lint-staged commands are due for each by the changed paths.
All: better-sort-github-actions, prettier --write, eslint --cache --fix --quiet, better-sort-package-json

.lintstagedrc.json:

{
  "!(.github/workflows/*.yml|*.{js,md,ts,tsx}|package.json)": [
    "prettier --ignore-unknown --write"
  ],
  ".github/workflows/*.yml": ["better-sort-github-actions", "prettier --write"],
  "*.{js,md,ts,tsx}": ["eslint --cache --fix --quiet", "prettier --write"],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Migrate from npm to pnpm (#61)
  .github/workflows/js-checks.yml
  .github/workflows/npm-publish.yml
  .husky/pre-push
  .huskyrc.json
  .nvmrc
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: better-sort-github-actions, prettier --write, better-sort-package-json

Bump knip to 6.18.0
  package.json
  pnpm-lock.yaml
Due: prettier --write, better-sort-package-json

Bump knip to 6.18.0 (#62)
  package.json
  pnpm-lock.yaml
Due: prettier --write, better-sort-package-json

Bump @commitlint/cli to 21.1.0
  package.json
  pnpm-lock.yaml
Due: prettier --write, better-sort-package-json

Bump lint-staged to 17.0.8
  package.json
  pnpm-lock.yaml
Due: prettier --write, better-sort-package-json

Bump more deps! (#63)
  package.json
  pnpm-lock.yaml
Due: prettier --write, better-sort-package-json

Bump vitest to 4.1.9
  package.json
  pnpm-lock.yaml
Due: prettier --write, better-sort-package-json

Order types condition first in exports
  package.json
Due: prettier --write, better-sort-package-json

Add e2e test suite for public actions
  .eslintrc.json
  .gitignore
  package.json
  pnpm-lock.yaml
  test/e2e/public.test.ts
  vitest.config.ts
Due: prettier --write, eslint --cache --fix --quiet, better-sort-package-json

Assert getLastHeader blockHash is hex in e2e
  test/e2e/public.test.ts
Due: prettier --write, eslint --cache --fix --quiet

Bump vitest to 4 and add E2E tests for public actions (#64)
  .eslintrc.json
  .gitignore
  package.json
  pnpm-lock.yaml
  test/e2e/public.test.ts
  vitest.config.ts
Due: prettier --write, eslint --cache --fix --quiet, better-sort-package-json

Document pnpm workflow for local development
  README.md
Due: prettier --write, eslint --cache --fix --quiet

Document pnpm workflow for local development (#65)
  README.md
Due: prettier --write, eslint --cache --fix --quiet

2.8.0
  package.json
Due: prettier --write, better-sort-package-json

2.8.0 (#66)
  package.json
Due: prettier --write, better-sort-package-json

Add isAddressValid public action
  src/actions/index.ts
  src/actions/public/bitcoin-kit.ts
  test/e2e/public.test.ts
Due: prettier --write, eslint --cache --fix --quiet

Bump 2.9.0
  package.json
Due: prettier --write, better-sort-package-json

Add negative case for isAddressValid e2e test
  test/e2e/public.test.ts
Due: prettier --write, eslint --cache --fix --quiet

Add isaddress (#67)
  package.json
  src/actions/index.ts
  src/actions/public/bitcoin-kit.ts
  test/e2e/public.test.ts
Due: prettier --write, eslint --cache --fix --quiet, better-sort-package-json
