Repository hemilabs/hemi-viem: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

.lintstagedrc.json:

{
  "!(*.{js,md,ts,tsx,yml}|package.json)": ["prettier --ignore-unknown --write"],
  "*.{js,md,ts,tsx,yml}": ["eslint --cache --fix --quiet", "prettier --write"],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Add new bitcoin tunnel manager calls
  README.md
  package-lock.json
  package.json
  src/actions/public/bitcoin-kit.ts
  src/actions/public/bitcoin-tunnel-manager.ts
  src/actions/public/bitcoin-vault.ts
  src/actions/public/simple-bitcoin-vault-state.ts
  src/actions/public/simple-bitcoin-vault.ts
  src/actions/wallet/bitcoin-tunnel-manager.ts
  src/contracts/bitcoin-kit-txs.ts
  src/contracts/bitcoin-tunnel-manager.ts
  src/contracts/simple-bitcoin-vault-state.ts
  src/contracts/simple-bitcoin-vault.ts
  src/decorators/public-bitcoin-vault-actions.ts
  src/decorators/public-simple-bitcoin-vault-actions.ts
  src/decorators/public-simple-bitcoin-vault-state-actions.ts
  src/index.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

2.0.0-alpha.1
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Remove unused file
  src/contracts/bitcoin-vault.ts
Due: eslint --cache --fix --quiet, prettier --write

Add challengeWithdrawal btc tunnel manager method
  src/actions/wallet/bitcoin-tunnel-manager.ts
Due: eslint --cache --fix --quiet, prettier --write

2.0.0-alpha.2
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Add bitcoin withdrawal functions
  package.json
  src/actions/public/simple-bitcoin-vault-state.ts
  src/actions/public/simple-bitcoin-vault.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

2.0.0-alpha.3
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Export abis
  package.json
Due: prettier --write, better-sort-package-json

2.0.0-alpha.4
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Fix export contract abis
  package.json
Due: prettier --write, better-sort-package-json

2.0.0-alpha.5
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Update order of exports in package.json
  package.json
Due: prettier --write, better-sort-package-json

2.0.0-alpha.6
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Use barrel file for exporting abis
  package.json
  src/contracts/index.ts
Due: eslint --cache --fix --quiet, prettier --write, better-sort-package-json

2.0.0-alpha.7
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Switch order of exports
  package.json
Due: prettier --write, better-sort-package-json

2.0.0-alpha.8
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Prevent wrong ordering of properties
  .huskyrc.json
  package.json
Due: prettier --write, better-sort-package-json

2.0.0-alpha.9
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Add missing extensions
  .huskyrc.json
  src/contracts/index.ts
Due: eslint --cache --fix --quiet, prettier --write

2.0.0-alpha.10
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Update module ts config
  package.json
  tsconfig.json
Due: prettier --write, better-sort-package-json

2.0.0-alpha.11
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Add typesVersions field
  package.json
Due: prettier --write, better-sort-package-json

2.0.0-alpha.12
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Rollback module/resolution on ts config
  package.json
  tsconfig.json
Due: prettier --write, better-sort-package-json

2.0.0-alpha.13
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Add support to commonjs module
  .eslintrc.json
  .gitignore
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Add support to commonjs module (#32)
  .eslintrc.json
  .gitignore
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Fix knip failing
  .knip.json
Due: none

Update bitcoin tunnel manager address
  src/contracts/bitcoin-tunnel-manager.ts
Due: eslint --cache --fix --quiet, prettier --write

Bump versions
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Add src/contracts/index.ts as entry
  .knip.json
Due: none

Bump husky
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Remove wrong unused deps
  .knip.json
Due: none

2.0.0-alpha.14
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Update ABIs
  src/contracts/simple-bitcoin-vault-state.ts
  src/contracts/simple-bitcoin-vault.ts
Due: eslint --cache --fix --quiet, prettier --write

2.0.0-alpha.15
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Replace withdrawal status functions
  src/actions/public/simple-bitcoin-vault-state.ts
  src/utils/withdrawals.ts
Due: eslint --cache --fix --quiet, prettier --write
